
<div class="container-fluid">
    <div class="container my-3">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid justify-content-between">
          <div><a class="navbar-brand  fs-1" href="/products">Table Of Inventory Items </a></div>
        </div>
      </nav>
  </div>